@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 80px;
  color: red;
  font-family: "Courier New", Courier, monospace;
  margin-top: 20px;
}

#orangeparagraph {
  font-size: 30px;
  color: #a53352;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 1000;
  background-color: rgba(50, 50, 60, 0.95);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.52);
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  margin: 0;
}
nav a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #e6e6e6;
  text-decoration: none;
  transition: color 0.3s;
  border-bottom: 0.3s;
  padding-bottom: 5px;
  position: relative;
  padding: 10px 10px;
}
nav a:hover {
  color: #15a2b5;
  border-bottom: 2px solid #e6e6e6;
  background-color: #a533518c;
}
